* {
    margin: 0px;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    border: none;
    color: white;
}

div {
    display: block;
}

.wrapper img {
    float: left;
    height: 140px;
    width: 265px;
    box-sizing: border-box;
}

.logo {
    margin: 0px;
    padding: 0px;
}

.header {
    background-image: url("https://t3.ftcdn.net/jpg/03/76/67/84/360_F_376678424_89dRKdMvobcFH7amx4cmGvQAWD7Lf8be.jpg");
    height: 140px;
    width: 1440px;
}

li {
    float: right;
    margin: 45px;
    text-align: center;
    font-weight: bolder;
}

.menu-item {
    display: inline;
    list-style-type: none;
    box-sizing: border-box;
}

.menu-item {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 60px;
    border: 1px solid black;
    align-items: center;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #66ff6b, #79aaff);
    background-size: 200% 100%;
    text-decoration: white;
    transition: 1s;
}

.menu-item:hover {
    background-image: linear-gradient(to bottom, #66ff6b, #79aaff);
    border: 200px solid white;
    border: black;
    text-align: center;
}

#menu {
    position: absolute;
    right: 10px;
    font-size: 70%;
}


main section.about .wrapper h2 {
    margin-bottom: 35px;
    font-size: 260%;
    font-weight: bold;
    text-align: center;
}

#billede2 {
    height: 600px;
    width: 600px;
    position: absolute;
    float: right;
    margin-left: 600px;

}

.p-tekst {
    float: left;
    margin-left: 60px;
    margin-right: 880px;
    margin-bottom: 40px;
    display: flex;
}

#historie {
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 20px;
    margin-right: 750px;
    font-size: 130%;
}

#overskrift1 {
    text-align: center;
    font-size: 259%;
}

hr {
    height: 40px;
    border: 40px;
    box-shadow: inset 10px 20px 12px -12px rgba(50, 100, 150, 0.5);
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    border: 1px solid black;
    margin: 60px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to bottom, #66ff6b, #79aaff);
    background-size: 100% 200%;
    transition: all 1.2s;
    box-sizing: border-box;
}

.box:hover {
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(100, 40, 10);
}

.overskrift {
    text-align: center;
    font-size: 100%;
    font-weight: bolder;
    margin: 20px;
}

#overskrift2 {
    font-size: 250%;
    text-align: center;
}

hr {
    position: relative;
}

#Mortemortem {
    font-style: normal;
    color: black;

}

section {
    display: grid;
}


#sidste-hr {
    height: 40px;
    border: 40px;
    box-shadow: inset 10px 20px 12px -12px rgba(80, 130, 20, 0.5);
}


#kontakt-info {
    text-align: center;
    text-decoration: black;
    text-decoration-style: wavy;
    margin: 30px;
}
